<table>
    <tr>
      <td><%=session[:patient_params]["fname"]%></td>
      <td><%=session[:patient_params]["lname"]%></td>
    </tr>
   <tr>
   	  <td>City: <%=session[:patient_params]["city"]%></td>
      <td>Street Address:<%=session[:patient_params]["stadd"]%></td>
    </tr>
    <tr>
      <td>Date-of-Birth:<%=session[:patient_params]["city"]%></td>
      <td>State:<%=session[:patient_params]["state"]%></td>
    </tr>
    <tr>
      <td colspan="2">
      	<%if @member.image.exists?%>
      	<%=image_tag(@member.image.url(:thumb))%>
      	<%end%>
      	<%=f.file_field :image%></td>
    </tr>
    
</table>