<%=fields_for Payment.new do|f|%>
    <table>
    <tr>
      <td><%=f.text_field :cname, :placeholder => "Name on Card", :class => "input-1"%></td>
      <td></td>
    </tr>
    <tr>
      <td><%=f.text_field :cnum, :placeholder => "Credit Card Number", :class => "input-1"%>
      </td>
      <td><%=f.date_field :expd, :placeholder => "Expiration Date", :class => "input-1"%></td>
    </tr>
    <tr>
      <td><%=f.text_field :biladd, :placeholder => "Billing Address", :class => "input-1"%></td>
      <td><%=f.text_field :bilcity, :placeholder => "Billing City", :class => "input-1"%></td>
    </tr>
    <tr>
      <td><%=f.text_field :bilstate, :placeholder => "Billing State", :class => "input-1"%></td>
      <td><%=f.text_field :bilzip, :placeholder => "Billing Zipcode", :class => "input-1"%></td>
    </tr>
  </table>
  <%end%>