<li><%= link_to "Update profile", edit_member_path(@member.id) %></li>
                <li><%= link_to "Add/remove provider" %></li>
                <li><%= link_to "Add/remove third party" %></li>
                <li><%= link_to "Update payment info" %></li>
                <%= link_to "Log out", destroy_user_session_path %>